<p>contact-form works!</p>

<form action="">
<div class="form-group">
<label for="firstName">First Name</label>
<input minlength="3" maxlength="12" required ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" id="firstName" type="text" class="form-control">
<div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
<div *ngIf="firstName.errors.required">First Name is required </div>
<div *ngIf="firstName.errors.minlength">first Name must be up 3 carecteres </div>
<div *ngIf="firstName.errors.maxlength">First Name must be less 12 carecteres </div>
</div>
</div>
  <div class="form-group">
    <label for="comment">Comment </label>
    <textarea ngModel name="comment"  id="comment" cols="30" rows="10" class="form-control">

    </textarea>
    <button class="btn btn-primary">Submit</button>
  </div>
</form>
