<h1>Angular Framwork</h1>
<h2>1 methode ngif</h2>
<div *ngIf="courses.length > 0; then coursesList else noCourses"> List of Courses</div>
<ng-template #coursesList>
  <ul>
  <li *ngFor="let course of courses">{{course}}</li>
</ul>
</ng-template>
<ng-template #noCourses>No courses Yet</ng-template>
<hr>
<h2>2 eme methode if</h2>
<div [hidden]="courses.length < 0">Liste of courses 2
<ul>
  <li *ngFor="let course of courses">{{course}}</li>
</ul>
</div>
<div [hidden]="courses.length > 0">NO courses 2 YEt</div>
<hr>
<h2>Class switch</h2>
<ul class="nav nav-pills nav-fill">
  <li class="nav-item"><a [class.active]="viewMode == 'map'" class="nav-link " (click)="viewMode = 'map'" >Map views</a></li>
  <li class="nav-item"><a  [class.active]="viewMode == 'list'" class="nav-link"  (click)="viewMode = 'list'" >List views</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">DIV Map View</div>
  <div *ngSwitchCase="'list'">DIV LIST courses View</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>
<hr>
<button (click)="onAdd()">Add course</button>
<ul>
  <li *ngFor="let c of coursesObj"> {{c.id}} - {{c.name}} <button class="btn btn-danger" (click)="onRemove(c.id)"> X </button> </li>
</ul>
<hr>
<!--<input type="text" [value]="email" (keyup.enter)="email = $event.target.value; onKeyUp()" />-->
<input type="text" [(ngModel)]="email" (keyup.enter)="onKeyUp()" />
<hr>
<contact-form></contact-form>







<router-outlet></router-outlet>
